{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
  },
  "extends": "airbnb-base/legacy",
  "rules": {
    "func-names": 0,
    "vars-on-top": 0,
    "comma-dangle": 0,
    "max-len": 0,
    "no-param-reassign": 0,
  }
}